input {
    padding: 10px;
    margin: 5px 20%;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
  }

  button {
    padding: 10px 15px;
    width: 14%;
    margin: 5px 43%;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Màu nền */
    color: white; /* Màu chữ */
    cursor: pointer; /* Con trỏ khi hover */
    align-items: center;
  }
  
  button:hover {
    background-color: #0056b3; /* Màu nền khi hover */
  }

  .inp_message {
    height: 70px;
  }
  .form-container {
    align-items: center;
  }
  h3 {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: #002e30;
  }
  .api-result {
    margin-top: 10px; /* Khoảng cách phía trên */
    margin-bottom: 10px; /* Khoảng cách phía dưới */
    width: 100%; /* Đảm bảo ô chiếm toàn bộ chiều rộng */
  }