/* SectionB.css */
.section-b {
  width: 50%;
  background-color: rgb(176, 181, 182); /* Màu xanh cho trang trống */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm box-shadow */
  margin: 10px; /* Thêm margin cho phần B */
  height: calc(100% - 20px); /* Điều chỉnh chiều cao để trừ đi margin */
  overflow-y: auto; /* Thêm scroll nếu nội dung quá dài */
  padding: 10px; /* Thêm padding cho nội dung */
  color: white; /* Màu chữ */
}

li {
  list-style-type: none; /* Ẩn dấu chấm */
  margin: 10px 0; /* Thêm margin giữa các item */
  color: rgb(4, 90, 68);
  font-weight: bold;
}

li:hover {
  color: rgb(6, 47, 100);
  font-weight: bold;
  cursor: pointer;
}