/* SectionA.css */
.section-a {
    width: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Thêm box-shadow */
  }
  
  .section-a1, .section-a2, .section-a3 {
    margin: 10px; /* Thêm margin cho các phần nhỏ */
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  .section-a1 {
    height: calc(30% - 10px);
    background-image: url('./MahuCryptify.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  
  .section-a2 {
    height: calc(50% - 10px); 
  }
  .section-a3 {
    height: calc(20% - 10px);
  }
  #intro {
    margin: 10px;
    font-size: 17px;

  }
  .smedia {
    align-items: center;
  }
  #facebook {
    text-decoration: none;
    color: blue;
    margin: 25%;
  }
  .social-media-image {
    width: 50px;
    height: 50px;
    margin: 13%;
    margin-top: 0;
    margin-bottom: 0;
    align-self:center;
  }